<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zisakuapp.zisaku_backend.mapper.RestaurantMapper">
    
    <resultMap id="RestaurantResultMap" type="com.zisakuapp.zisaku_backend.model.Restaurant">
        <id property="restaurantId" column="restaurant_id"/>
        <result property="restaurantName" column="restaurant_name"/>
        <result property="restaurantImg" column="restaurant_img"/>
        <result property="restaurantRating" column="restaurant_rating"/>
        <result property="restaurantGenre" column="restaurant_genre"/>
        <result property="restaurantPriceRange" column="restaurant_price_range"/>
        <result property="restaurantArea" column="restaurant_area"/>
        <result property="restaurantOpenHour" column="restaurant_open_hour"/>
        <result property="restaurantCloseHour" column="restaurant_close_hour"/>
        <result property="restaurantAddress" column="restaurant_address"/>
        <result property="restaurantPhone" column="restaurant_phone"/>
        <result property="restaurantUrl" column="restaurant_Url"/>
        <result property="restaurantClosedDays" column="restaurant_closed_days"/>
    </resultMap>

    <select id="findDistinctGenres" resultType="string">
        SELECT DISTINCT restaurant_genre FROM m_restaurant 
    </select>

    <select id="findDistinctPriceRanges" resultType="string">
        SELECT DISTINCT restaurant_price_range FROM m_restaurant
    </select>

    <select id="findDistinctAreas" resultType="string">
        SELECT DISTINCT restaurant_area FROM m_restaurant 
    </select>

    <select id="findDistinctRatings" resultType="double">
        SELECT DISTINCT restaurant_rating FROM m_restaurant
    </select>

    <select id="findAll" resultMap="RestaurantResultMap">
        SELECT * FROM m_restaurant 
    </select>

    <select id="findAllByIds" resultMap="RestaurantResultMap"> 
        SELECT * FROM m_restaurant WHERE restaurant_id IN 
        <foreach item="id" collection="list" open="(" separator="," close=")">
         #{id} 
        </foreach>
    </select>

    <select id="findByRestaurantId" resultMap="RestaurantResultMap">
        SELECT * FROM m_restaurant WHERE restaurant_id = #{restaurantId}
    </select>


    <select id="searchRestaurants" resultMap="RestaurantResultMap">
     SELECT * FROM m_restaurant 
      
        <where>

            <!-- AND検索 -->
            <if test="isAndSearch == true">

                <if test="restaurantName != null and restaurantName != ''"> 
                    AND LOWER(restaurant_name) LIKE '%' || LOWER(#{restaurantName}) || '%' 
                </if>

                <if test="minRating != null"> 
                    AND restaurant_rating <![CDATA[>=]]> #{minRating}
                </if>

                <if test="restaurantGenre != null and restaurantGenre != ''">
                    AND restaurant_genre = #{restaurantGenre}
                </if>

                <if test="restaurantArea != null and restaurantArea != ''">
                AND restaurant_area = #{restaurantArea} 
                </if>

            </if>

            <!-- OR検索 -->
            <if test="isAndSearch == false">

                <if test="restaurantName != null and restaurantName != ''">
                    AND LOWER(restaurant_name) LIKE '%' || LOWER(#{restaurantName}) || '%'
                </if>

                <if test="minRating != null">
                    AND restaurant_rating <![CDATA[>=]]> #{minRating}
                </if>

                <if test="restaurantGenre != null and restaurantGenre != ''">
                    AND restaurant_genre = #{restaurantGenre} 
                </if>

                <if test="restaurantArea != null and restaurantArea != ''"> 
                    AND restaurant_area = #{restaurantArea} 
                </if>

            </if>

        </where>

    </select>

</mapper>